<div class="container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Email</label>
            <mat-form-field class="form-field">
                <input matInput type="text" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            </mat-form-field>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <mat-form-field class="form-field">
                <input matInput type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            </mat-form-field>
            <div class="invalid-feedback">{{errorMessage}}</div>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Passwords must be at least 8 characters in length.</div>
            </div>
        </div>
        <div class="form-group d-flex flex-row">
            <button mat-raised-button [disabled]="loading" class="btn btn-primary mr-1">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login
            </button>
            <a mat-raised-button routerLink="/auth/registration" class="btn btn-link mr-auto">Register</a>
            <a mat-button routerLink="/auth/reset-password">Reset Password</a>
        </div>
    </form>
</div>