<div class="container">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <mat-form-field class="form-field">
                <input id="firstName" matInput type="text" formControlName="firstName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            </mat-form-field>
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <mat-form-field class="form-field">
                <input id="lastName" matInput type="text" formControlName="lastName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            </mat-form-field>
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <mat-form-field class="form-field">
                <input id="email" matInput type="email" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            </mat-form-field>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <mat-form-field class="form-field">
                <input id="password" matInput type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            </mat-form-field>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <ul class="p-3 m-0">
                    <li *ngIf="f.password.errors.required">Password is required</li>
                    <li>Passwords must be at least 8 characters in length.</li>
                    <li>Minimum of 1 lower case letter</li>
                    <li>Minimum of 1 upper case letter</li>
                    <li>Minimum of 1 numeric character</li>
                </ul>
            </div>
            <div class="invalid-feedback">{{errorMessage}}</div>
        </div>
        <div class="form-group d-flex flex-row">
            <button mat-raised-button [disabled]="loading" class="btn btn-primary mr-1">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
            </button>
            <a mat-raised-button routerLink="/auth/login" class="btn btn-link">Sign In</a>
        </div>
    </form>
</div>