<div class="container">
    <h2>Login</h2>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">User email</label>
            <mat-form-field class="form-field">
                <input matInput type="text" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            </mat-form-field>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                <div *ngIf="f.email.errors.notfound">User not found</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <mat-form-field class="form-field">
                <input matInput type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            </mat-form-field>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <ul class="p-3 m-0">
                    <li *ngIf="f.password.errors.required">Password is required</li>
                    <li *ngIf="f.password.errors.minlength">Passwords must be at least 8 characters in length.</li>
                    <li>Minimum of 1 lower case letter</li>
                    <li>Minimum of 1 upper case letter</li>
                    <li>Minimum of 1 numeric character</li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Repeat password</label>
            <mat-form-field class="form-field">
                <input matInput type="password" formControlName="repeatPassword" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.repeatPassword.errors }" />
            </mat-form-field>
            <div *ngIf="submitted && resetForm.errors" class="invalid-feedback mr-1">
                <div *ngIf="resetForm.errors.mismatch">Passwords should match</div>
            </div>
            <div *ngIf="submitted && f.repeatPassword.errors" class="invalid-feedback">
                <div *ngIf="f.repeatPassword.errors.required">Repeat password is required</div>
            </div>
        </div>
        <div class="form-group d-flex flex-row">
            <button mat-raised-button [disabled]="loading" type="submit" class="btn btn-primary mr-1">
                Reset
            </button>
            <a mat-raised-button routerLink="/auth/login" class="btn btn-link">Sing in</a>
        </div>
    </form>
</div>